## Neural Networks Architecture Rules

   1. In input layer we should mention Input dimensions without no of records and only no of features
 
 **classificatoin**:-
 
      Input layer neuron should be 1.
  
      use sigmoid fuction as activation fucntion in putput layer.
  
 **Regression**:-
 
     Output layer should be 1.
     
     Do not mention activation function.
     
**Multiclass classification**:-

    no of neurons should be 3.
    
    use softmax activation in output layer.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [9]:
df=pd.read_csv('https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [17]:

#removing a class for binary classification.
df=df[df['species']!='virginica']

In [18]:
df[['species']].value_counts()

species
setosa        50
versicolor    50
Name: count, dtype: int64

In [20]:
#converting Target values into numerical values using mapping method
df['species']=df['species'].map({'setosa':0,'versicolor':1})

In [22]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [25]:
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [27]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [37]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)
X_train.shape,y_train.shape

((70, 4), (70,))

In [38]:
input_dimensions=X_train.shape
output_dimensions=y_train.shape

### Binary Classificatoin

    1. There should be 1 Neuron at outlayer.
    2. Always use Sigmoid activatoin function at output layer.
    3. Use only Binary Loss Fucntions

In [43]:
model=Sequential([
               Dense(5,activation='relu',input_shape=(4,)),
               Dense(3,activation='relu'),
                Dense(1,activation='sigmoid')])

In [45]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])
model.fit(X_train,y_train,epochs=10,batch_size=4)

loss, accuracy = model.evaluate(X_test, y_test, verbose=1)
print("Test Loss:", loss)
print("Test Accuracy:", accuracy)

Epoch 1/10
18/18 [==============================] - 1s 2ms/step - loss: 0.2323 - accuracy: 1.0000
Epoch 2/10
18/18 [==============================] - 0s 2ms/step - loss: 0.2116 - accuracy: 1.0000
Epoch 3/10
18/18 [==============================] - 0s 3ms/step - loss: 0.1923 - accuracy: 1.0000
Epoch 4/10
18/18 [==============================] - 0s 3ms/step - loss: 0.1774 - accuracy: 1.0000
Epoch 5/10
18/18 [==============================] - 0s 2ms/step - loss: 0.1630 - accuracy: 1.0000
Epoch 6/10
18/18 [==============================] - 0s 2ms/step - loss: 0.1498 - accuracy: 1.0000
Epoch 7/10
18/18 [==============================] - 0s 3ms/step - loss: 0.1378 - accuracy: 1.0000
Epoch 8/10
18/18 [==============================] - 0s 2ms/step - loss: 0.1268 - accuracy: 1.0000
Epoch 9/10
18/18 [==============================] - 0s 2ms/step - loss: 0.1169 - accuracy: 1.0000
Epoch 10/10
18/18 [==============================] - 0s 2ms/step - loss: 0.1075 - accuracy: 1.0000
1/1 [==============================] - 0s 158ms/step - loss: 0.1005 - accuracy: 1.0000
Test Loss: 0.1005435436964035
Test Accuracy: 1.0

In [46]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 5)                 25

 dense_7 (Dense)             (None, 3)                 18

 dense_8 (Dense)             (None, 1)                 4

=================================================================
Total params: 47 (188.00 Byte)
Trainable params: 47 (188.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Regressoin Model

In [50]:
data=pd.read_csv('black_friday_sales.csv')
data.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [51]:
data.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64

In [52]:
data.drop(labels=['Product_Category_2','Product_Category_3','City_Category'],axis=1,inplace=True)

In [53]:
data.isnull().sum()

User_ID                       0
Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Purchase                      0
dtype: int64

In [54]:
X=data.iloc[:,:-1]
y=data.iloc[:,-1]

In [55]:
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [56]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)
X_train.shape,y_train.shape,y_test.shape

((385047, 8), (385047,), (165021,))

In [57]:
model=Sequential()
model.add(Dense(20,kernel_initializer='he_uniform',activation='relu',input_shape=(8,)))
model.add(Dense(10,activation='relu'))
model.add(Dense(1,activation='linear'))

In [58]:
model.compile(optimizer='adam',loss='mean_squared_error')
model.fit(X_train,y_train,epochs=10,batch_size=4)
model.summary()

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type int).